<!DOCTYPE html>
<html lang="en">

<head>
    

    <!-- Title Page-->
    <title>VQA</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Visual Question Answer</h2>
                </div>
                <div class="card-body">
                    <form action = "http://localhost:5000/login" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="name">Question</div>
                            <img src="{{quest}}">
                         </div>
                        
                        
                        <div class="form-row">
                            <img src="{{image}}">
                        </div>

                        <div >
                            {{answer_in_anspage}}
                        </div>
                        <div class="card-footer">
                          <button class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                       </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    


</body>

</html>
<!-- end document-->